{% extends "index.html" %}

{% block body %}

<div class="container" id='myrow'>
    <div class="row">
        <p>
            Welcome to Image Classification Web App with Stochastic Gradient Descent (SGD) Model in Flask <br>
                - Our website is committed to providing accurate and efficient image classification for a wide range of animal species <br>
                - Leveraging the power of the Stochastic Gradient Descent (SGD) model, we've honed our system to recognize and categorize diverse animal images with remarkable precision. <br>
                - Flask-Powered Interface interface ensures a smooth and intuitive experience for uploading and analyzing images. <br>

        </p>
    </div>
</div>
<style>
    #myrow{
        background-color:#EBEDEF;
    }

</style>

{% endblock  %}
